In [0]:
df = spark.read.csv("/Volumes/main/default/my_volume/employees.csv", header=True, inferSchema=True)

In [0]:
df.show()

+------+----------+---------+----------+------+------------+
|emp_id|first_name|last_name|department|salary|joining_date|
+------+----------+---------+----------+------+------------+
|     1|      John|      Doe|        IT| 60000|  2020-01-15|
|     2|      Jane|    Smith|        HR| 50000|  2019-03-20|
|     3|       Sam|    Brown|   Finance| 70000|  2018-07-30|
|     4|      Lisa|  Johnson|        IT| 65000|  2021-06-10|
|     5|       Tom|    Davis| Marketing| 55000|  2020-11-05|
|     6|       Eva|   Wilson|   Finance| 72000|  2017-09-12|
+------+----------+---------+----------+------+------------+

In [0]:
df1 = df.filter(df.department == "IT")

In [0]:
from pyspark.sql.functions import year, current_date
experience_years = year(current_date()) - year(df.joining_date)
df2 = df1.withColumn("experience", experience_years)

In [0]:
df2.select("emp_id","first_name","last_name","department","salary","experience")

DataFrame[emp_id: int, first_name: string, last_name: string, department: string, salary: int, experience: int]

In [0]:
df2.write.format("delta").mode("overwrite").saveAsTable("main.default_employee_db.employee_table")

In [0]:
%sql
SELECT * FROM main.default_employee_db.employee_table

emp_id,first_name,last_name,department,salary,joining_date,experience
1,John,Doe,IT,60000,2020-01-15,5
4,Lisa,Johnson,IT,65000,2021-06-10,4